/* normal styles for default button*/
.normal{
  font-size: 16px;
  border: none;
  padding:20px;
  margin: 1;
  width: 25%;
  color:#000;
  outline: none;
  cursor: pointer !important;
  transition: .5s;
}
/*numberial button styles*/
.numerial{
  composes: normal;
  background-color: #FFFFF7;
}
.numerial:hover{
  background-color: #d1e1f6;
}
/* expression button styles*/
.expression{
  composes: normal;
  background-color: #73B1D6;
  color: #fff;
}
.expression:hover{
  background-color: #4589B0;
}
.clear{
  composes: normal;
  background-color: #F44336;
  font-weight: bold;
}
.clear:hover{
  background-color: #F46336;
}
.calculate{
  composes: normal;
  background-color: #1D628B;
  color: #fff;
  /*height: 8em;*/
}
.calculate:hover{
  background-color: #035586;
}
