/* normal styles for default button*/
.normal{
  font-size: 1.4vw;
  border: none;
  width: 25%;
  margin: 0;
  padding: 6%;
  color:#000;
  outline: none;
  cursor: pointer !important;
  transition: .5s;
  display: inline-block;
}

/*numberial button styles*/
.numerial{
  composes: normal;
  background-color: #FFFFF7;
}
.numerial:hover{
  background-color: #d1e1f6;
}
/* expression button styles*/
.expression{
  composes: normal;
  background-color: #73B1D6;
  color: #fff;
}
.expression:hover{
  background-color: #4589B0;
}
.clear{
  composes: normal;
  background-color: #F44336;
  font-weight: bold;
}
.clear:hover{
  background-color: #F46336;
}
.calculate{
  composes: normal;
  background-color: #1D628B;
  color: #fff;
}
.calculate:hover{
  background-color: #035586;
}
.dot{
  composes: numerial;
  font-size: 2vw;
}

@media (max-width: 1400px) {
  .normal{
    font-size: 1.5vw;
  }
}
@media (max-width: 1000px) {
  .normal{
    font-size: 1.8vw;
  }
}
@media (max-width: 840px) {
  .normal{
    font-size: 2.4vw;
  }
}
@media (max-width: 740px) {
  .normal{
    font-size: 3vw;
  }
}
@media (max-width: 400px) {
  .normal{
    font-size: 4vw;
  }
}
