@font-face {
font-family:'Roboto-Light';
src: url('../../../public/fonts/Roboto-Light.ttf');
font-weight: 200;
font-style: normal;
}

@font-face {
font-family:'Roboto-Medium';
src: url('../../../public/fonts/Roboto-Medium.ttf');
font-weight: 200;
font-style: normal;
}

.title{
  padding-top: 2%;
  font-size: 4vw;
  font-family: 'Roboto-Light', sans-serif;
  text-align: center;
}
