
@font-face {
  font-family: 'Digital';
  src: url('../../../public/fonts/digital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container{
  background-color: #444444;
  font-family: 'Digital', sans-serif;
  text-align: right;
  color: #fff;
}
.default-margins{
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.exercise{
  composes: default-margins;
  font-size: 1.5em;
  font-style: italic;
}
.current{
  composes: default-margins;
  font-size: 3em;
}
