
@font-face {
  font-family: 'Digital';
  src: url('../../../public/fonts/digital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container{
  background-color: #444444;
  font-family: 'Digital', sans-serif;
  text-align: right;
  color: #fff;
  height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-right: 5%;
  padding-left: 10%;
}
.text{
  align-self: center;
  flex: 1;
}
.exercise{
  font-size: 1.2vw;
  font-style: italic;
}
.current{
  padding-top: 1%;
  font-size: 2.5vw;
}
.icon{
  border-radius: 50%;
  border: 1px solid white;
  align-self: center;
  width: 4%;
  cursor: pointer;
  opacity: 0.6;
  transition: 2s;
}
.icon:hover{
  opacity: 1;
}
.iconHidden{
  composes: icon;
  display: none;
}
@media (max-width: 800px) {
  .current{
    font-size: 4vw;
  }
  .exercise{
    font-size: 2.8vw;
  }
}
@media (min-width: 801px ,max-width:1200px) {
  .current{
    font-size: 6vw;
  }
  .exercise{
    font-size: 4vw;
  }
}
